In [3]:
import numpy as np
import pandas as pd

In [5]:
city = ['Karachi','Lahore','Islamabad12']
weight = [65.5,70.5,80]
fastfoodsales=[4000,8000,7000]

In [6]:
type(weight)

list

In [7]:
fastfoodsales/weight

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [8]:
sales_per_weight=np.divide(fastfoodsales,weight)

In [12]:
sales_per_weight

array([ 61.06870229, 113.4751773 ,  87.5       ])

In [13]:
type(sales_per_weight)

numpy.ndarray

In [4]:
#weight*2
#weight_array*2
#When to use np.multiply() and when to use array_object*2?

In [5]:
print(salesperkg)

NameError: name 'salesperkg' is not defined

In [10]:
city_array=np.array(city)
weight_array=np.array(weight)
ffsales_array=np.array(fastfoodsales)

In [11]:
ffsales_array/weight_array

array([ 61.06870229, 113.4751773 ,  87.5       ])

In [14]:
print(city_array)

['Karachi' 'Lahore' 'Islamabad12']

In [15]:
type(city_array)

numpy.ndarray

In [16]:
city_array/weight_array

TypeError: ufunc 'true_divide' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [18]:
weight_array*2

array([131., 141., 160.])

In [20]:
ff_visits_per_month=np.array([5,6],dtype='object')

In [21]:
ff_visits_per_month_int=ff_visits_per_month.astype(int)

In [22]:
type(ff_visits_per_month_int)

numpy.ndarray

In [23]:
type(5)

int

In [24]:
ff_visits_per_month_int.dtype

dtype('int32')

In [29]:
two_array=np.array([[5,6],[4.5,6.5]])

In [30]:
two_array.ndim

2

In [31]:
two_array.dtype

dtype('float64')

In [10]:
print(ff_visits_per_month)

[5 6]

In [11]:
print(ff_visits_per_month.dtype)

object

In [32]:
print(type(ff_visits_per_month),type(weight),type(weight_array))

<class 'numpy.ndarray'> <class 'list'> <class 'numpy.ndarray'>

In [33]:
print(weight_array.dtype)

float64

In [34]:
print(type(city_array),type(weight_array),type(ffsales_array),type(ff_visits_per_month))

<class 'numpy.ndarray'> <class 'numpy.ndarray'> <class 'numpy.ndarray'> <class 'numpy.ndarray'>

In [35]:
print(city_array.dtype,weight_array.dtype,ffsales_array.dtype)

<U11 float64 int32

In [36]:
print(weight_array)

[65.5 70.5 80. ]

In [37]:
consolidated = zip(city_array,weight_array,ffsales_array)

In [38]:
print(consolidated)

<zip object at 0x0000028363B098C8>

In [39]:
consolidated_array=np.array(list(consolidated))

In [40]:
city = ['Karachi','Lahore','Islamabad']
weight = [65.5,70.5,80]
fastfoodsales=[4000,8000,7000]

In [41]:
print(consolidated_array)

[['Karachi' '65.5' '4000']
 ['Lahore' '70.5' '8000']
 ['Islamabad12' '80.0' '7000']]

In [42]:
print(consolidated_array.dtype,weight_array.dtype,city_array.dtype)

<U11 float64 <U11

In [43]:
consolidated_array*2

TypeError: ufunc 'multiply' did not contain a loop with signature matching types dtype('<U11') dtype('<U11') dtype('<U11')

In [45]:
np.mean(weight_array)

72.0

In [46]:
corarray=np.corrcoef(weight_array,ffsales_array)

In [47]:
print(type(corarray),corarray)

<class 'numpy.ndarray'> [[1.        0.5869912]
 [0.5869912 1.       ]]

In [50]:
corarray[0,1]

0.5869911985194601

In [53]:
np.ndim(corarray)

2

In [51]:
ravarray=np.ravel(corarray)

In [52]:
ravarray

array([1.       , 0.5869912, 0.5869912, 1.       ])

In [56]:
np.ndim(ravarray)

1

In [59]:
ravarray.reshape(2,2)

array([[1.       , 0.5869912],
       [0.5869912, 1.       ]])

In [60]:
np.shape(ravarray)

(4,)

In [53]:
corarray.shape

(2, 2)

In [30]:
corarray[0,1]

0.5869911985194601

In [31]:
np.mean(weight)

72.0

In [32]:
type(consolidated)

zip

In [33]:
consolidated.dtype

AttributeError: 'zip' object has no attribute 'dtype'

In [61]:
div_array=ffsales_array/weight_array

In [64]:
np.divide(fastfoodsales,weight)

array([ 61.06870229, 113.4751773 ,  87.5       ])

In [35]:
print(div_array)

[ 61.06870229 113.4751773   87.5       ]

In [36]:
add_array=np.negative(ffsales_array,weight_array)

In [37]:
print(add_array)

[-4000. -8000. -7000.]

In [38]:
mix = np.array([90,-50,100])

In [39]:
mixabs=np.absolute(mix)

In [40]:
print(mixabs)

[ 90  50 100]

In [67]:
a= np.arange(5,10,2)

In [68]:
a

array([5, 7, 9])

In [42]:
b=a.reshape(2,3)

ValueError: cannot reshape array of size 10 into shape (2,3)

In [43]:
type(a)

numpy.ndarray

In [44]:
a.dtype

dtype('int32')

In [45]:
b=a.reshape(2,5)

In [46]:
print(b)

[[0 1 2 3 4]
 [5 6 7 8 9]]

In [47]:
c=np.arange(12)

In [48]:
print(c)
print(type(c))

[ 0  1  2  3  4  5  6  7  8  9 10 11]
<class 'numpy.ndarray'>

In [49]:
d=c.reshape(3,2,2)

In [50]:
print(d)

[[[ 0  1]
  [ 2  3]]

 [[ 4  5]
  [ 6  7]]

 [[ 8  9]
  [10 11]]]

In [51]:
np.ndim(d)

3

In [52]:
a.shape

(10,)

In [53]:
d.shape

(3, 2, 2)

In [54]:
b.shape

(2, 5)

In [55]:
d.shape

(3, 2, 2)

In [56]:
c.dtype

dtype('int32')

In [57]:
# discuss ravel and unravel
d.ravel

In [58]:
e=d.ravel()

In [59]:
e

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [54]:
# NP.EMPTY, NP.ONES, NP.ZEROS, ZEROSLIKE, ONESLIKE

np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [61]:
print(weight_array*2)

[ -8000. -16000. -14000.]

In [62]:
NP.APPEND AXIS NONE,0,1

SyntaxError: invalid syntax (<ipython-input-62-7f8b41984350>, line 1)

In [63]:
g=np.array([1,2,3,4,5])

In [64]:
h=np.array([4,5,6,7,8])

In [65]:
np.multiply(g,h)

array([ 4, 10, 18, 28, 40])

In [66]:
np.floor(h)

array([4., 5., 6., 7., 8.])

In [55]:
weight_array

array([65.5, 70.5, 80. ])

In [59]:
condition1=weight_array>66
condition2=weight_array<80

In [72]:
weight_array[(weight_array>66) & (weight_array<80)]

array([70.5])

In [62]:
weight_array[condition1 & condition2]

array([70.5])

In [64]:
condition3=weight_array<70.5
condition4=weight_array>70.5

In [69]:
condition5=weight_array!=70.5

In [65]:
weight_array[condition3 | condition4]

array([65.5, 80. ])

In [ ]:
weight_array[condition1 & condition2]

In [70]:
weight_array[condition5]

array([65.5, 80. ])

In [68]:
weight_array>66

array([False, False, False])

In [69]:
print(consolidated_array)

[['Karachi' '65.5' '4000']
 ['Lahore' '70.5' '8000']
 ['Islamabad' '80.0' '7000']]

In [70]:
print(consolidated_array[1])

['Lahore' '70.5' '8000']

In [71]:
print(consolidated_array[1,0])

Lahore

In [72]:
print(consolidated_array[0,0:2])

['Karachi' '65.5']

In [73]:
print(consolidated_array[0:2,0:2])

[['Karachi' '65.5']
 ['Lahore' '70.5']]

# Reading Data from other sources

In [73]:
##working with directories
import os

os.getcwd()

'D:\\Work - FTI\\Module 1\\Lecture 5'

In [74]:
#Change your working directory

os.chdir('D:\DataForCourse')

In [83]:
os.getcwd()

'D:\\DataForCourse'

In [76]:
list_of_files=os.listdir()

In [70]:
print(list_of_files)

['Score - Copy (2).xlsx', 'Score - Copy (3).xlsx', 'Score - Copy (4).xlsx', 'Score - Copy (5).xlsx', 'Score - Copy (6).xlsx', 'Score - Copy (7).xlsx', 'Score - Copy (8).xlsx', 'Score - Copy.xlsx', 'Score.xlsx', '~$Score.xlsx']

In [71]:
os.getcwd()

'D:\\DataForCourse'

In [77]:
#Pandas is the library for data manipulation, it has a series of read functions which can read excel, csv or even sql databases.
#The code below reads the data in excel and uploads it to a pandas dataframe

import pandas as pd

Scores=pd.read_excel('Score.xlsx',skipinitialspace=True)

In [78]:
Scores.set_index('Name',inplace=True)

In [79]:
Scores.loc['Rama Abrik','English']

93

In [81]:
print(Scores)

                          English  Mathematics
Name
Muhammad Abubakr               93           90
Yamna Tahir                    90           45
Waqar - FTI                    40           80
Khoulah Afzal Qamar            93           76
Ali Ibad Brohi                 43           56
Maad Saifuddin                 80           59
Hassan Ahmed                   71           30
Hamza Quaid Joher              90           89
M. Umair Munshi                73           90
Rama Abrik                     93           87
Qaisar Nisar                   78           45
Muhammad Sami Ullah Khan       40           60
Hafiz Muhammad Shahid          47           90
Syed Ahmed Ali Naqvi           23           40
Daniyal Khan                   45           70
Hussain Murtaza Ali            76           39
Uzair Irshad                   86           88
Noman-Ul-Haq                   42           78
Muhammad Usama Ovais           38           60
Moiz Ali                       90           87

In [80]:
display(Scores)

                          English  Mathematics
Name
Muhammad Abubakr               93           90
Yamna Tahir                    90           45
Waqar - FTI                    40           80
Khoulah Afzal Qamar            93           76
Ali Ibad Brohi                 43           56
Maad Saifuddin                 80           59
Hassan Ahmed                   71           30
Hamza Quaid Joher              90           89
M. Umair Munshi                73           90
Rama Abrik                     93           87
Qaisar Nisar                   78           45
Muhammad Sami Ullah Khan       40           60
Hafiz Muhammad Shahid          47           90
Syed Ahmed Ali Naqvi           23           40
Daniyal Khan                   45           70
Hussain Murtaza Ali            76           39
Uzair Irshad                   86           88
Noman-Ul-Haq                   42           78
Muhammad Usama Ovais           38           60
Moiz Ali                       90           87

In [82]:
condition = Scores['English']>Scores['Mathematics']

In [86]:
scores_array=np.array(Scores)

In [29]:
print(scores_array)

[[93 90]
 [90 45]
 [40 80]
 [93 76]
 [43 56]
 [80 59]
 [71 30]
 [90 89]
 [73 90]
 [93 87]
 [78 45]
 [40 60]
 [47 90]
 [23 40]
 [45 70]
 [76 39]
 [86 88]
 [42 78]
 [38 60]
 [90 87]]

In [38]:
sum_scores_at_rowlevel=np.sum(scores_array,axis=1)

In [27]:
print(scores_array2.shape)

(60,)

In [15]:
np.cumsum(scores_array,axis=0)

array([[  93,   90],
       [ 183,  135],
       [ 223,  215],
       [ 316,  291],
       [ 359,  347],
       [ 439,  406],
       [ 510,  436],
       [ 600,  525],
       [ 673,  615],
       [ 766,  702],
       [ 844,  747],
       [ 884,  807],
       [ 931,  897],
       [ 954,  937],
       [ 999, 1007],
       [1075, 1046],
       [1161, 1134],
       [1203, 1212],
       [1241, 1272],
       [1331, 1359]], dtype=int64)

In [83]:
Scores[condition]

                     English  Mathematics
Name
Muhammad Abubakr          93           90
Yamna Tahir               90           45
Khoulah Afzal Qamar       93           76
Maad Saifuddin            80           59
Hassan Ahmed              71           30
Hamza Quaid Joher         90           89
Rama Abrik                93           87
Qaisar Nisar              78           45
Hussain Murtaza Ali       76           39
Moiz Ali                  90           87

In [53]:
math_array=np.array(Scores['Mathematics'])
eng_array=np.array(Scores['English'])

In [79]:
math_array[math_array>80]

array([90, 89, 90, 87, 90, 88, 87], dtype=int64)

In [81]:
np.corrcoef(math_array,eng_array)

array([[1.        , 0.25186155],
       [0.25186155, 1.        ]])

In [88]:
scores_array[scores_array[:, 1].argsort()]

array([[71, 30],
       [76, 39],
       [23, 40],
       [90, 45],
       [78, 45],
       [43, 56],
       [80, 59],
       [38, 60],
       [40, 60],
       [45, 70],
       [93, 76],
       [42, 78],
       [40, 80],
       [93, 87],
       [90, 87],
       [86, 88],
       [90, 89],
       [73, 90],
       [47, 90],
       [93, 90]], dtype=int64)

In [55]:
print(scores_array, math_array)

[[93 90]
 [90 45]
 [40 80]
 [93 76]
 [43 56]
 [80 59]
 [71 30]
 [90 89]
 [73 90]
 [93 87]
 [78 45]
 [40 60]
 [47 90]
 [23 40]
 [45 70]
 [76 39]
 [86 88]
 [42 78]
 [38 60]
 [90 87]] [90 45 80 76 56 59 30 89 90 87 45 60 90 40 70 39 88 78 60 87]

In [57]:
np.max(scores_array,axis=0)

array([93, 90], dtype=int64)

In [59]:
np.mean(scores_array,axis=0)

array([66.55, 67.95])

In [60]:
Science=np.random.normal(50,25,10)

In [61]:
print(Science)

[58.99696385 40.80909258 60.501163   64.95221134  4.62910221 68.21914613
 39.94202434 68.74509545 56.79917232 53.84468863]